<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newuserServlet</servlet-name>
        <servlet-class>newuserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepasswordServlet</servlet-name>
        <servlet-class>changepasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorServlet</servlet-name>
        <servlet-class>doctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorupdateServlet</servlet-name>
        <servlet-class>doctorupdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctordeleteServlet</servlet-name>
        <servlet-class>doctordeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roomServlet</servlet-name>
        <servlet-class>roomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientServlet</servlet-name>
        <servlet-class>patientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scanServlet</servlet-name>
        <servlet-class>scanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paymentServlet</servlet-name>
        <servlet-class>paymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorServlet_general</servlet-name>
        <servlet-class>doctorServlet_general</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorServlet_cardio</servlet-name>
        <servlet-class>doctorServlet_cardio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorupdateServlet_general</servlet-name>
        <servlet-class>doctorupdateServlet_general</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorupdateServlet_cardio</servlet-name>
        <servlet-class>doctorupdateServlet_cardio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorupdateServlet_neuro</servlet-name>
        <servlet-class>doctorupdateServlet_neuro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorServlet_neuro</servlet-name>
        <servlet-class>doctorServlet_neuro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_infoServlet</servlet-name>
        <servlet-class>patient_infoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_infoServlet</servlet-name>
        <servlet-class>view_infoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_bloodServlet</servlet-name>
        <servlet-class>view_bloodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bloodServlet</servlet-name>
        <servlet-class>bloodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newuserServlet</servlet-name>
        <url-pattern>/newuserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepasswordServlet</servlet-name>
        <url-pattern>/changepasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorServlet</servlet-name>
        <url-pattern>/doctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorupdateServlet</servlet-name>
        <url-pattern>/doctorupdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctordeleteServlet</servlet-name>
        <url-pattern>/doctordeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roomServlet</servlet-name>
        <url-pattern>/roomServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientServlet</servlet-name>
        <url-pattern>/patientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scanServlet</servlet-name>
        <url-pattern>/scanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paymentServlet</servlet-name>
        <url-pattern>/paymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorServlet_general</servlet-name>
        <url-pattern>/doctorServlet_general</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorServlet_cardio</servlet-name>
        <url-pattern>/doctorServlet_cardio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorupdateServlet_general</servlet-name>
        <url-pattern>/doctorupdateServlet_general</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorupdateServlet_cardio</servlet-name>
        <url-pattern>/doctorupdateServlet_cardio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorupdateServlet_neuro</servlet-name>
        <url-pattern>/doctorupdateServlet_neuro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorServlet_neuro</servlet-name>
        <url-pattern>/doctorServlet_neuro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_infoServlet</servlet-name>
        <url-pattern>/patient_infoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_infoServlet</servlet-name>
        <url-pattern>/view_infoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_bloodServlet</servlet-name>
        <url-pattern>/view_bloodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bloodServlet</servlet-name>
        <url-pattern>/bloodServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
